$backgroun-primary-color:rgba(247, 248, 249, 1);
$backgroun-secondary-color:rgba(42, 51, 66, 1);
$backgroun-third-color:rgba(255, 255, 255, 1);
$text-primary-color:rgba(255, 255, 255, 1);
$text-secondary-color:rgba(42, 51, 66, 1);
$button-primary-color:rgba(34, 197, 94, 1);
$button-secondary-color:rgba(64, 79, 101, 1);



