@use "../global/mixin" as m;

.dataimportcontainer {
  background-color: #f7f7f7;
  padding-bottom: 200px;
  .wrapper {
    padding: 4rem;
    &__upside {
      display: flex;
      @include m.breakpointsDown(medium) {
        flex-direction: column;
      }
      &__left {
        flex: 3;
        h1 {
          font-size: 32px;
          font-weight: 600;
          color: #2a3342;
          margin-bottom: 15px;
          @include m.breakpointsDown(medium) {
            text-align: center;
          }
        }
        p {
          color: #4a4a4a;
          font-family: 500;
          font-size: 16px;
          @include m.breakpointsDown(medium) {
            text-align: center;
          }
        }
      }

      &__right {
        flex: 1;
      }

      margin-bottom: 20px;
    }

    &__downside {
      display: flex;
      margin-top: 50px;
      @include m.breakpointsDown(medium) {
        flex-direction: column;
      }

      &__left {
        flex: 1;
        h1 {
          font-weight: 500;
          font-size: 32px;
          margin-bottom: 10px;
          color: #2a3342;
          @include m.breakpointsDown(medium) {
            text-align: center;
            font-size: 25px;
          }
        }

        ul {
          color: #4a4a4a;
          font-weight: 500;
          font-size: 24px;
          @include m.breakpointsDown(medium) {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 20px;
          }
          li {
            list-style: none;
            padding-bottom: 10px;
            a {
              text-decoration: none;
              color: #92a1ad;

              &:hover {
                color: black;
              }
            }
          }
        }
      }

      &__right {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        .all {
          display: flex;
          flex-direction: column;
          gap: 20px;
          @include m.breakpointsDown(medium) {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          h1 {
            font-weight: 500;
            font-size: 32px;
            margin-bottom: 10px;
            color: #2a3342;
            @include m.breakpointsDown(medium) {
              display: none;
            }
          }
          .cardcontainer {
            display: flex;
            flex-direction: row;
            @include m.breakpointsDown(medium) {
              flex-direction: column;
              gap: 20px;
              
            }

            .linkcontainer {
              margin-right: 15px;

              @include m.breakpointsDown(medium) {
                margin: 0;
              }

              a {
                text-decoration: none;
                .carditem {
                  flex: 1;
                  width: 174px;
                  height: 168px;
                  border-radius: 4px;
                  background-color: #ffffff;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  gap: 15px;
                  @include m.breakpointsDown(medium) {
                    width: 80vw;
                    
                  }
                  img {
                    width: 80px;
                    height: 80px;
                  }
                  p {
                    color: #2a3342;
                    font-weight: 400;
                    font-size: 16px;
                  }
                }
                &:hover {
                  opacity: 0.7;
                }
              }
            }
          }
        }
      }
    }
  }
}
