.insightscontainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: white;

  .wrapper {
    padding: 4rem;
    width: 100%;
    
   

    .title {
      color: gray;
      font-size: 35px;
      opacity: 0.4;
      text-align: center;
      margin-bottom: 50px;
      font-weight: 600;
    }

    .questions-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .question-item {
        border: 2px solid rgb(200, 196, 196);
        width: 300px;
        border-radius: 8px;
        height: 60px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        h1 {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.695);
          font-weight: 700;
        }

        p {
            font-size: 9px;
            color: gray;
            opacity: 0.7;
        }

        &:hover {
            background-color: rgb(226, 218, 218);
            
        }
      }
    }

    .result {
      margin-top: 20px;
      font-size: 14px;
      color: black;
      font-weight:600 ;
      
      width: 100%;
      background-color: rgb(194, 194, 194, 0.2);
      line-height: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
      .part {
        text-align: center;
      }
    }
  }
}
