@use "../global/mixin" as m;

.userhome-section-1 {
  background-color: rgba(232, 233, 235, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  &__container {
    text-align: center;
    .title1 {
      color: rgba(2, 42, 68, 1);
      font-size: 60px;
      font-weight: 600;
      @include m.breakpointsDown(medium) {
        font-size: 30px;
        font-weight: 40;
      }
    }
    .title2 {
      color: rgba(34, 197, 94, 1);
      font-size: 60px;
      font-weight: 600;
      @include m.breakpointsDown(medium) {
        font-size: 30px;
        font-weight: 40;
      }
    }
  }
}

.userhome-section-2 {
  display: flex;
  @include m.breakpointsDown(medium) {
    flex-direction: column;
  }
  &__sidebar {
    background-color: rgba(42, 51, 66, 1);
    flex: 1;
    padding-inline: 2rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
    position: sticky;
    max-height: 880px;
    .container {
      .search {
        background-color: rgba(255, 255, 255, 1);
        height: 46px;
        display: flex;
        border-radius: 8px;
        margin-bottom: 15px;

        input {
          margin: 5px;
          outline: none;
          border: none;
          color: rgba(102, 112, 133, 1);
          font-weight: 400;
          font-size: 16px;
        }

        .icon {
          display: block;
          margin: auto 5px auto 20px;
          width: 20px;
          height: 20px;
        }
      }

      .title {
        font-size: 14px;
        font-weight: 600;
        color: rgba(232, 233, 235, 1);
        margin-bottom: 15px;
      }

      .all {
        background-color: rgba(233, 255, 241, 1);
        height: 46px;
        display: flex;
        border-radius: 8px;
        margin-bottom: 15px;

        p {
          display: block;
          margin: auto 20px;
          color: rgba(34, 197, 94, 1);
          font-weight: 700;
          font-size: 16px;
        }
      }

      .lead {
        font-size: 16px;
        font-weight: 600;
        color: rgba(232, 233, 235, 1);
        margin-bottom: 25px;
        margin-left: 20px;
      }
    }
  }

  &__main {
    flex: 3;

    .container {
      padding: 4rem;
      .title {
        text-align: center;
        margin-bottom: 10px;
        color: rgba(42, 51, 66, 1);
        font-weight: 600;
        font-size: 32px;
      }

      .subtitle {
        text-align: center;
        color: rgba(42, 51, 66, 1);
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 20px;
      }
      .all {
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
        @include m.breakpointsDown(medium) {
          flex-direction: column;
        }
        .part {
          flex: 1;
          background-color: rgba(243, 250, 255, 1);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 15px;
          margin: 10px;
          border-radius: 20px;
          padding: 2rem;
          .image {
            width: 48px;
            height: 48px;
          }
          .head {
            color: rgba(42, 51, 66, 1);
            font-weight: 600;
            font-size: 24px;
          }
          .lead {
            text-align: center;
            color: rgba(2, 42, 68, 1);
            font-family: 600;
            font-size: 18px;
          }

          .learn {
            background-color: rgba(34, 197, 94, 1);
            width: 124px;
            height: 40px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
              text-decoration: none;
              color: rgba(255, 255, 255, 1);
              font-weight: 600;
              font-size: 16px;
            }
            &:hover {
              opacity: 0.7;
              transition: 0.5s all ease;
            }
          }
        }
      }
    }
  }
}
