@use "../global/mixin" as m;

.userhome-section-1 {
  background-color: rgba(232, 233, 235, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  &__container {
    text-align: center;
    .title1 {
      color: rgba(2, 42, 68, 1);
      font-size: 60px;
      font-weight: 600;
      @include m.breakpointsDown(medium) {
        font-size: 30px;
        font-weight: 40;
      }
    }
    .title2 {
      color: rgba(34, 197, 94, 1);
      font-size: 60px;
      font-weight: 600;
      @include m.breakpointsDown(medium) {
        font-size: 30px;
        font-weight: 40;
      }
    }
  }
}

.userhome-section-2 {
  display: flex;
  @include m.breakpointsDown(medium) {
    flex-direction: column;
  }
  &__sidebar {
    background-color: rgba(42, 51, 66, 1);
    flex: 1;
    padding-inline: 2rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
    position: sticky;
    max-height: 880px;
    .container {
      .search {
        background-color: rgba(255, 255, 255, 1);
        height: 46px;
        display: flex;
        border-radius: 8px;
        margin-bottom: 15px;

        input {
          margin: 5px;
          outline: none;
          border: none;
          color: rgba(102, 112, 133, 1);
          font-weight: 400;
          font-size: 16px;
        }

        .icon {
          display: block;
          margin: auto 5px auto 20px;
          width: 20px;
          height: 20px;
        }
      }

      .title {
        font-size: 14px;
        font-weight: 600;
        color: rgba(232, 233, 235, 1);
        margin-bottom: 15px;
      }

      .all {
        background-color: rgba(233, 255, 241, 1);
        height: 46px;
        display: flex;
        border-radius: 8px;
        margin-bottom: 15px;

        p {
          display: block;
          margin: auto 20px;
          color: rgba(34, 197, 94, 1);
          font-weight: 700;
          font-size: 16px;
        }
      }

      .lead {
        font-size: 16px;
        font-weight: 600;
        color: rgba(232, 233, 235, 1);
        margin-bottom: 25px;
        margin-left: 20px;
      }
    }
  }

  &__main {
    flex: 3;

    .container {
      padding: 4rem;
      .title {
        text-align: center;
        margin-bottom: 10px;
        color: rgba(42, 51, 66, 1);
        font-weight: 600;
        font-size: 32px;
      }

      .subtitle {
        text-align: center;
        color: rgba(42, 51, 66, 1);
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 20px;
      }
      .all {
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
        @include m.breakpointsDown(medium) {
          flex-direction: column;
        }
        .part {
          flex: 1;
          background-color: rgba(243, 250, 255, 1);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 15px;
          margin: 10px;
          border-radius: 20px;
          padding: 2rem;
          .image {
            width: 48px;
            height: 48px;
          }
          .head {
            color: rgba(42, 51, 66, 1);
            font-weight: 600;
            font-size: 24px;
          }
          .lead {
            text-align: center;
            color: rgba(2, 42, 68, 1);
            font-family: 600;
            font-size: 18px;
          }

          .learn {
            background-color: rgba(34, 197, 94, 1);
            width: 124px;
            height: 40px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
              text-decoration: none;
              color: rgba(255, 255, 255, 1);
              font-weight: 600;
              font-size: 16px;
            }
            &:hover {
              opacity: 0.7;
              transition: 0.5s all ease;
            }
          }
        }
      }
      .app1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(42, 51, 66, 1);
        margin-bottom: 50px;

        .feature {
          width: 110px;
          height: 35px;
          border-radius: 36px;
          background-color: rgba(220, 252, 231, 1);
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 5px;
          margin-top: 45px;
          margin-bottom: 20px;
          @include m.breakpointsDown(medium) {
            width: 90px;
            height: 25px;
          }
          P {
            color: rgba(20, 83, 45, 1);
            font-size: 18px;
            font-weight: 500;
            @include m.breakpointsDown(medium) {
              font-size: 14px;
            }
          }
        }

        .title {
          font-size: 45px;
          font-weight: 600;
          color: rgba(255, 255, 255, 1);
          margin-bottom: 30px;
          @include m.breakpointsDown(medium) {
            font-size: 20px;
            font-weight: 400;
          }
        }

        .image {
          max-width: 352.63px;
          max-height: 226.76px;
          margin-bottom: 30px;
          @include m.breakpointsDown(medium) {
            max-width: 200px;
            max-height: 150px;
          }
        }

        .lead {
          text-align: center;
          margin-bottom: 30px;
          p {
            font-size: 25px;
            font-weight: 500;
            color: rgba(136, 150, 171, 1);
            @include m.breakpointsDown(medium) {
              font-size: 14px;
              font-weight: 300;
            }
          }
        }

        .buttonscontainer {
          display: flex;
          flex-direction: row;
          gap: 10px;
          margin-bottom: 40px;
          .learn {
            width: 156px;
            height: 56px;
            background-color: rgba(34, 197, 94, 1);
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include m.breakpointsDown(medium) {
              width: 120px;
              height: 30px;
            }
            a {
              text-decoration: none;
              color: rgba(240, 253, 244, 1);
              font-weight: 500;
              font-size: 18px;
              @include m.breakpointsDown(medium) {
                font-weight: 300;
                font-size: 14px;
              }
            }

            &:hover {
              opacity: 0.7;
              cursor: pointer;
              transition: 0.3s all ease;
            }
          }
          .about {
            width: 156px;
            height: 56px;
            background-color: rgba(77, 95, 122, 1);
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include m.breakpointsDown(medium) {
              width: 120px;
              height: 30px;
            }
            a {
              text-decoration: none;
              color: rgba(240, 253, 244, 1);
              font-weight: 500;
              font-size: 18px;
              @include m.breakpointsDown(medium) {
                font-weight: 300;
                font-size: 14px;
              }
            }

            &:hover {
              opacity: 0.7;
              cursor: pointer;
              transition: 0.3s all ease;
            }
          }
        }
      }

      .app2 {
        display: flex;
        flex-direction: row;
        background-color: rgba(42, 51, 66, 1);
        margin-bottom: 25px;
        padding: 2rem;
        @include m.breakpointsDown(medium) {
          flex-direction: column;
        }

        &__left {
          padding-top: 100px;
          padding-left: 50px;
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          @include m.breakpointsDown(medium) {
            justify-content: center;
            align-items: center;
            padding: 0;
          }

          .feature {
            width: 110px;
            height: 35px;
            border-radius: 36px;
            background-color: rgba(220, 252, 231, 1);
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 5px;
            margin-bottom: 30px;
            @include m.breakpointsDown(medium) {
              width: 90px;
              height: 25px;
            }

            P {
              color: rgba(34, 197, 94, 1);
              font-size: 18px;
              font-weight: 500;
              @include m.breakpointsDown(medium) {
                font-size: 14px;
              }
            }
          }

          .title {
            font-size: 35px;
            font-weight: 600;
            color: rgba(255, 255, 255, 1);
            margin-bottom: 30px;
            float: left;
            @include m.breakpointsDown(medium) {
              font-size: 20px;
              font-weight: 400;
            }
          }

          .lead {
            text-align: left;
            margin-bottom: 30px;
            @include m.breakpointsDown(medium) {
              text-align: center;
            }

            p {
              font-size: 20px;
              font-weight: 500;
              color: rgba(136, 150, 171, 1);
              @include m.breakpointsDown(medium) {
                font-size: 14px;
                font-weight: 300;
              }
            }
          }
        }

        &__right {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          @include m.breakpointsDown(medium) {
            position: static;
          }
          .image {
            .img1 {
              width: 220px;
              height: 378.46px;
              z-index: 100;
              position: relative;
            }
            .img2 {
              width: 210px;
              height: 340px;
              position: absolute;
              right: 0px;
              top: 30px;
              @include m.breakpointsDown(medium) {
                display: none;
              }
            }
          }
        }

        // .buttonscontainer {
        //   display: flex;
        //   flex-direction: row;
        //   gap: 10px;
        //   margin-bottom: 40px;
        //   .learn {
        //     width: 156px;
        //     height: 56px;
        //     background-color: rgba(34, 197, 94, 1);
        //     border-radius: 6px;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     a {
        //       text-decoration: none;
        //       color: rgba(240, 253, 244, 1);
        //       font-weight: 500;
        //       font-size: 18px;
        //     }

        //     &:hover {
        //       opacity: 0.7;
        //       cursor: pointer;
        //       transition: 0.3s all ease;
        //     }
        //   }
        //   .about {
        //     width: 156px;
        //     height: 56px;
        //     background-color: rgba(77, 95, 122, 1);
        //     border-radius: 6px;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     a {
        //       text-decoration: none;
        //       color: rgba(240, 253, 244, 1);
        //       font-weight: 500;
        //       font-size: 18px;
        //     }

        //     &:hover {
        //       opacity: 0.7;
        //       cursor: pointer;
        //       transition: 0.3s all ease;
        //     }
        //   }
        // }
      }
    }
  }
}
