@use "../global/variables" as v;
@use "../global/mixin" as m;

.active {
  background-color: #1d4ed8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: v.$backgroun-secondary-color;
  color: v.$text-primary-color;
  position: static;
  width: 100%;
  height: 80px;
  top: 0;
}

nav .title {
  margin-left: 6rem;
  padding: 2rem 0;
}

nav ul {
  display: flex;
  margin-right: 6rem;
  padding: 2rem 0;
}


nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

nav ul li a:not(.active):hover {
  background-color: v.$button-secondary-color;
  transition: 0.3s all ease;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

.siteparts {
  display: flex;
  margin-right: 15rem;
}

.button {
  background-color: v.$button-primary-color;
}

@media (max-width: 900px) {
  nav {
    height: auto;
  }
  nav .menu {
    display: flex;
    margin: 2rem;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }

  .siteparts {
    flex-direction: column;
    width: 100%;
  }

  .button {
    background-color: v.$backgroun-secondary-color;
  }

}
