.search {
    background-color: rgba(255, 255, 255, 1);
    height: 46px;
    display: flex;
    border-radius: 8px;
    margin-bottom: 15px;

    input {
      margin: 5px;
      outline: none;
      border: none;
      color: rgba(102, 112, 133, 1);
      font-weight: 400;
      font-size: 16px;
    }

    .icon {
      display: block;
      margin: auto 5px auto 20px;
      width: 20px;
      height: 20px;
    }
  }